################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myTimelapseMovieMaker/bin/x64/Debug
